body {
  background-color: #D6E6F2;
  padding: 1vh 1vw;
  font-size: 100%;
}
hr {
  border-style: dotted none none none;
  border-top-color: #769FCD;
  border-top-width: 5px;
  width: 7%;
}
h1 {
  color: #769FCD;
  font-size: 6vw;
}
h3 {
  color: #769FCD;
  font-size: 2.5vw;
  margin: 1% 0 1% 0;
}
table {
  width: auto;
  height: auto;
}
p, li, td {
  font-size: 1.5vw;
}
.profile-pic {
  float: left;
  margin-right: 2%;
  width: 15%
}
.name {
  margin: 0;
}
.degree {
  font-size: 2.5vw;
}
.opening, .career-change {
  text-align: justify;
  margin-right: 2%;
}
.soft-skills {
  width: 50%
}
.soft-skill {
  float: right;
}
.column1 {
  width: 90%
}
.message-me {
  font-size: 2vw;
}
.home {
  width: 10%;
}
.column2 {
  position: fixed;
  right: 2%;
  top: 1%;
  height: auto;
  width: 10%;
}
.right {
  display: block;
  padding: 30% 0 30% 20%;
  font-size: 2vw;
  margin: 10% 0;
}
.right:link {
  text-decoration: none;
  background-color: #D6E6F2;
  color: inherit;
}
.right:visited {
  text-decoration: none;
  color: inherit;
}
.right:hover {
  text-decoration: underline;
  background-color: #B8DFF0;
}
